<!-- HEADER GOES HERE <br/><br/> --> 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" 
	 
	<div class="container-fluid">

		<!-- Writing my first link in Ruby! -->
		<%= link_to 'Mineral App', root_path, class:"navbar-brand" %>

		<!-- Original Bootstrap Line of Code for Navbar , see above, we made our own custom one instead-->
	 <!--  <a class="navbar-brand" href="#">Mineral App</a> -->


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"> 
					<%= link_to "About This App", home_about_path, class:"nav-link" %>

					<!-- Original bootstrap link below, custom code above  -->
					<!-- <a class="nav-link" href="#">Link</a> -->
				</li>
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-primary" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>

